body{
    margin: 100px;
}

  .maindiv{
    height: 300px;
    width: 300px;
    background-color:rgb(170, 16, 80);
    animation-name: scale;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 70%;
  }

  @keyframes scale {
    0%
    {
        transform: translateX(100px);
       
    }
    50%
    {
        transform: translateX(200px);
        border: 20px solid rgb(89, 130, 148);

    }
    100%
    {
        transform: translateX(400px);

    }
  }